<%= form_with(model: amenity, html: { class: "needs-validation" }) do |form| %>
  <% if amenity.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(amenity.errors.count, "error") %> prohibited this amenity from being saved:</h4>
      <ul>
        <% amenity.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row g-4">
    <!-- Amenity Name -->
    <div class="col-md-6">
      <%= form.label :name, class: "form-label fs-5" %>
      <%= form.text_field :name, class: "form-control form-control-lg" %>
    </div>

    <!-- Is Active -->
    <div class="col-md-6">
      <%= form.label :isActive, "Active?", class: "form-label fs-5" %><br>
      <%= form.check_box :isActive, class: "form-check-input me-2" %>
      <label class="form-check-label">Yes</label>
    </div>
  </div>

  <div class="mt-4">
    <%= form.submit amenity.persisted? ? "Update Amenity" : "Create Amenity", class: "btn btn-primary" %>
    <%= link_to "Back to amenities", amenities_path, class: "btn btn-secondary" %>
  </div>
<% end %>
