<h2 class="mb-4">Create Your Vista Rentals Account</h2>

<%= form_with model: @user, local: true do |form| %>
  <div class="mb-3">
    <%= form.label :username, class: "form-label" %>
    <%= form.text_field :username, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :first_name, class: "form-label" %>
    <%= form.text_field :first_name, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :last_name, class: "form-label" %>
    <%= form.text_field :last_name, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :email, class: "form-label" %>
    <%= form.email_field :email, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :password, class: "form-label" %>
    <%= form.password_field :password, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :role, class: "form-label" %>
    <%= form.select :role, options_for_select(["host", "guest"]), {}, class: "form-select", required: true %>
  </div>

  <%= form.submit "Sign Up", class: "btn btn-primary" %>
<% end %>
