<%= form_with(model: property, html: { class: "needs-validation" }) do |form| %>
  <% if property.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h4>
      <ul>
        <% property.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row g-4">
    <!-- Property Name -->
    <div class="col-md-6">
      <%= form.label :name, class: "form-label fs-5" %>
      <%= form.text_field :name, class: "form-control form-control-lg" %>
    </div>
    <!-- Description -->
    <div class="col-md-6">
        <%= form.label :description, class: "form-label fs-5" %>
        <%= form.text_area :description, class: "form-control form-control-lg" %>
      </div>
    </div>
    <!-- Property Address -->
    <div class="col-md-6">
      <%= form.label :address, class: "form-label fs-5" %>
      <%= form.text_field :address, class: "form-control form-control-lg" %>
    </div>

    <!-- City -->
    <div class="col-md-6">
      <%= form.label :city, class: "form-label fs-5" %>
      <%= form.text_field :city, class: "form-control form-control-lg" %>
    </div>

    <!-- State -->
    <div class="col-md-6">
      <%= form.label :state, class: "form-label fs-5" %>
      <%= form.text_field :state, class: "form-control form-control-lg" %>
    </div>

    <!-- Country -->
    <div class="col-md-6">
      <%= form.label :country, class: "form-label fs-5" %>
      <%= form.text_field :country, class: "form-control form-control-lg" %>
    </div>

    <!-- Zipcode -->
    <div class="col-md-6">
      <%= form.label :zipcode, class: "form-label fs-5" %>
      <%= form.text_field :zipcode, class: "form-control form-control-lg" %>
    </div>

    <!-- Price -->
    <div class="col-md-6">
      <%= form.label :price, class: "form-label fs-5" %>
      <%= form.text_field :price, class: "form-control form-control-lg" %>
    </div>

    <!-- Bedrooms -->
    <div class="col-md-6">
      <%= form.label :bedrooms, class: "form-label fs-5" %>
      <%= form.number_field :bedrooms, class: "form-control form-control-lg" %>
    </div>

    <!-- Baths -->
    <div class="col-md-6">
      <%= form.label :baths, class: "form-label fs-5" %>
      <%= form.number_field :baths, class: "form-control form-control-lg" %>
    </div>

    <!-- Max Guests -->
    <div class="col-md-6">
      <%= form.label :maxGuest, class: "form-label fs-5" %>
      <%= form.number_field :maxGuest, class: "form-control form-control-lg" %>
    </div>

    <!-- Amenities Selection -->
    <div class="col-md-12 mt-4">
      <h5>Select Amenities</h5>
      <div class="row">
        <%= form.collection_check_boxes :amenity_ids, Amenity.all, :id, :name do |cb| %>
          <div class="col-md-4 mb-2 form-check">
            <%= cb.check_box(class: "form-check-input") %>
            <%= cb.label(class: "form-check-label") %>
          </div>
        <% end %>
      </div>
    </div>

    <!-- Property Images -->
    <div class="mt-4">
      <h5 class="mb-3">Property Images</h5>

      <div id="property-images-container">
        <%= form.fields_for :property_images do |image_fields| %>
          <%= render "property_image_fields", f: image_fields %>
        <% end %>
      </div>

      <button type="button" id="add-image" class="btn btn-outline-secondary btn-sm mt-2">Add another image</button>
    </div>
    <!-- Submit Button -->
    <div class="mt-4">
      <%= form.submit property.persisted? ? "Update Property" : "Create Property", class: "btn btn-primary" %>
      <%= link_to "Show this property", @property, class: "btn btn-outline-primary" %>
      <%= link_to "Back to properties", properties_path, class: "btn btn-secondary" %>
    </div>
  </div>
<% end %>

<script>
  document.addEventListener("turbo:load", () => {
    const container = document.getElementById("property-images-container");
    const addButton = document.getElementById("add-image");

    if (!container || !addButton) return;

    let index = container.children.length;

    addButton.addEventListener("click", (event) => {
      event.preventDefault();

      const template = document.createElement("div");
      template.innerHTML = `
        <div class="input-group mb-2">
          <label class="input-group-text" for="property_property_images_attributes_${index}_url">Url</label>
          <input class="form-control" type="text" name="property[property_images_attributes][${index}][url]" id="property_property_images_attributes_${index}_url">
          <button type="button" class="btn btn-danger ms-2 remove-image">Remove</button>
        </div>
      `;
      container.appendChild(template);
      index++;
    });

    container.addEventListener("click", (event) => {
      if (event.target.classList.contains("remove-image")) {
        event.preventDefault();
        event.target.closest(".input-group").remove();
      }
    });
  });
</script>

